.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5rem;
  background-image: radial-gradient(
    ellipse 60% 100% at 50% 40%,
    #98151c 0%,
    #6b0f14 100%
  );
}

.heroSection a {
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: center;
  width: min(100%, 2000px);
  height: min(80vh, 600px);
  border-radius: 10px;
  overflow: hidden;
}

.headlineContainer,
.promotional-container {
  width: 40%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  padding-bottom: 8rem;
}

.headlineContainer {
  color: #f3dee7;
  gap: 0.8rem;
}

.banner img {
  height: 95%;
  align-self: end;
}

.headline {
  display: flex;
  flex-direction: column;
  font-family: "Cormorant Garamond";
  font-size: 2.5rem;
  font-weight: normal;
}

.subheading {
  font-family: "Cormorant Garamond";
  font-size: 1.2rem;
  font-style: italic;
}

.seeCollectionLink {
  border: 2px solid #f3dee7;
  width: fit-content;
  padding: 0.8rem 3rem;
  margin-top: 1rem;
  font-family: "Cormorant Garamond";
  font-size: 1.2rem;
  color: inherit;
}

.promotional-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: #f2d9a3;
}

.promotional-heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.promotional-description {
  font-size: 1.2rem;
  font-weight: 700;
}

.shopNowLink {
  background: #f2d9a3;
  width: fit-content;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  margin-top: 1rem;
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--maroon);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
