.headerContainer {
  padding: 0.6rem 2rem;
}

.headerContainer.default {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fbf4f6;
  color: var(--maroon);
}

.headerContainer.homepage {
  color: white;
}

.siteName {
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.shoppingCartIcon {
  color: inherit;
  width: 1.5rem;
  height: 1.5rem;
}

.headerContainer,
.navBar {
  width: 100%;
}

.navBar ul {
  font-family: inherit;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navBar a {
  font-family: "Cormorant Garamond";
  text-decoration: none;
  color: inherit;
}
